[Desktop Entry]
Encoding=UTF-8
Name=Feedly Plasmoid
Icon=feed-subscribe
Comment=Plasma 5 plasmoid that shows the count of unreads entries in Feedly account
Type=Service
Keywords=feedly;rss;feed;
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Nikolai Doronin
X-KDE-PluginInfo-Email=lassana.nd@gmail.com
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Name=com.github.lassana.feedly-plasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/lassana/feedly-plasmoid
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-NotificationArea=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=System Information
